<h1 class="text-center">Restaurants</h1>

<ul class="list-group">
  <% @restaurants.each do |resto| %>
    <li class="list-group-item">
      <%= link_to resto.name, restaurant_path(resto) %>

    </li>
  <% end %>
</ul>
