<h1 class="text-center"><%= @restaurant.name %></h1>

<p><strong>Category: </strong><%= @restaurant.category %></p>
<p><strong>Address: </strong><%= @restaurant.address %></p>
<p><strong>Phone Number: </strong><%= @restaurant.phone_number %></p>
